@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3A4562;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mapboxgl-control-container,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-compact {
  display: none;
}

.mapboxgl-canvas {
  width: 370px;
}